mixin list(className = "")
  ul(class= `list ${className}`)
    block

mixin list-item(classname = "", title, date, place)
  li(class= `list-item ${classname}-item`)
    .list-item__header
      .list-item__title= title
      .list-item__date= `${date}`
      .list-item__place= place
    .list-item__content
      block