- var _className = ""

mixin list(className = "")
  - _className = className
  ul(class= `list ${_className}`)
    block

mixin list-item(title, date, place)
  li(class= `list-item ${_className}-item`)
    .list-item__header
      .list-item__title= title
      .list-item__date= `${date}`
      .list-item__place= place
    .list-item__content
      block