include ../../components/layout/layout
include ../../components/personal/personal
include ../../components/section/section
include ../../components/contact/contact
include ../../components/skill/skill
include ../../components/software/software
include ../../components/list/list

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="description" content="resume")
    meta(name="keywords" content="resume")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="apple-touch-icon" sizes="180x180" href=require("../../global/favicons/apple-touch-icon.png"))
    link(rel="icon" type="image/png" sizes="32x32" href=require("../../global/favicons/favicon-32x32.png"))
    link(rel="icon" type="image/png" sizes="16x16" href=require("../../global/favicons/favicon-16x16.png"))
    link(rel="manifest" href=require("../../global/favicons/site.webmanifest"))
    link(rel="mask-icon" href=require("../../global/favicons/safari-pinned-tab.svg") color="#5bbad5")
    meta(name="msapplication-TileColor" content="#ffc40d")
    meta(name="theme-color" content="#ffffff")
    title resume
  body
    +container("resume")
      +container__main()
        +container__col-left()
          +personal("Константин", "Константинов", "graphic designer")
          +section("profile", "profile.png", "profile")
            p.
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
              Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
              natoque penatibus et magnis dis parturient montes, nascetur 
              ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
              pretium quis, sem. Nulla consequat massa quis enim. Donec 
              pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim 
              justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam 
              dictum felis eu <strong>pede mollis pretium. Integer tincidunt. Cras 
              dapibus. Vivamus elementum semper nisi. Aenean 
              vulputate eleifend tellus. Aenean leo ligula, porttitor eu, 
              consequat vitae, eleifend ac, enim. Aliquam lorem ante, 
              dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra 
              nulla ut metus varius laoreet. Quisque rutrum.</strong>

          +section("contact", "contact.png", "contacts")
            +contact({title: "Address", text: "Main Street, City."})
            +contact({title: "E-mail", text: "contact@domain.com", type: "email"})
            +contact({title: "Phone", text: "555-555-555", type: "phone"})
            +contact({title: "Website", text: "www.yourweb.com", type: "link"})
          +section("skills", "skill.png", "skills")
            +skill("creative", 9)
            +skill("teamwork", 11)
            +skill("innovate", 7)
            +skill("communication", 11)

        +container__col-right()
          +section("education", "education.png", "education") 
            +list()
              +list-item("master degree", "Feb 2011 - Jun 2014", "UNIVERSITY NAME", true)
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
              +list-item("master degree", "Feb 2011 - Jun 2014", "UNIVERSITY NAME", true)
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
              +list-item("master degree", "Feb 2011 - Jun 2014", "UNIVERSITY NAME", true)
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
              +list-item("master degree", "Feb 2011 - Jun 2014", "UNIVERSITY NAME", true)
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
            
          +section("experience", "experience.png", "experience")
            +list()
              +list-item("COMPANY NAME", "Feb 2011 - Jun 2014", "YOUR JOB HERE")
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
              +list-item( "COMPANY NAME", "Feb 2011 - Jun 2014", "YOUR JOB HERE")
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
              +list-item( "COMPANY NAME", "Feb 2011 - Jun 2014", "YOUR JOB HERE")
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
         
          +section("software", "software.png", "software")
            +software("photoshop", 90)
            +software("dreamweawer", 85)
            +software("illustrator", 70)
            +software("after effects", 60)
            +software("indesign", 50)
            +software("html&css", 90)