include ../../components/personal/personal
include ../../components/title/title
include ../../components/contacts/contacts
include ../../components/skills/skills
include ../../components/education/education
include ../../components/experience/experience
include ../../components/software/software

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="description" content="resume")
    meta(name="keywords" content="resume")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="apple-touch-icon" sizes="180x180" href=require("../../global/favicons/apple-touch-icon.png"))
    link(rel="icon" type="image/png" sizes="32x32" href=require("../../global/favicons/favicon-32x32.png"))
    link(rel="icon" type="image/png" sizes="16x16" href=require("../../global/favicons/favicon-16x16.png"))
    link(rel="manifest" href=require("../../global/favicons/site.webmanifest"))
    link(rel="mask-icon" href=require("../../global/favicons/safari-pinned-tab.svg") color="#5bbad5")
    meta(name="msapplication-TileColor" content="#ffc40d")
    meta(name="theme-color" content="#ffffff")
    title resume
  body
    .resume
      main.resume__main
        .resume__col-left
          .resume__personal
            +personal({
              name: "Константин", 
              surname: "Константинов", 
              profession: "graphic designer",
              img: "avatar.png",
              alt: "Константин Константинов"
            })
          section.resume__section
            .resume__title
              +title({text: "profile", img: "profile.png", alt: "profile"})
            p.resume__description.
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
              Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
              natoque penatibus et magnis dis parturient montes, nascetur 
              ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
              pretium quis, sem. Nulla consequat massa quis enim. Donec 
              pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim 
              justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam 
              dictum felis eu <strong>pede mollis pretium. Integer tincidunt. Cras 
              dapibus. Vivamus elementum semper nisi. Aenean 
              vulputate eleifend tellus. Aenean leo ligula, porttitor eu, 
              consequat vitae, eleifend ac, enim. Aliquam lorem ante, 
              dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra 
              nulla ut metus varius laoreet. Quisque rutrum.</strong>
          section.resume__section
            +contacts([
              {title: "Address", text: "Main Street, City."},
              {title: "E-mail", text: "contact@domain.com", type: "email"},
              {title: "Phone", text: "555-555-555", type: "phone"},
              {title: "Website", text: "www.yourweb.com", type: "link"}
            ])
          section.resume__section.resume__section_skills
            +skills([
              {title: "creative", range: 9, count: 12},
              {title: "teamwork", range: 11, count: 12},
              {title: "innovate", range: 7, count: 12},
              {title: "communication", range: 11, count: 12}
            ])
        .resume__col-right
          section.resume__section
            +education([
              {title: "master degree",
               date: "Feb 2011 - Jun 2014",
               place: "UNIVERSITY NAME",
               text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque."},

               {title: "master degree",
                date: "Feb 2011 - Jun 2014",
                place: "UNIVERSITY NAME",
                text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque."},

               {title: "master degree",
                date: "Feb 2011 - Jun 2014",
                place: "UNIVERSITY NAME",
                text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque."},

               {title: "master degree",
                date: "Feb 2011 - Jun 2014",
                place: "UNIVERSITY NAME",
                text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque."}
            ])
          section.resume__section
            +experience([
              {title: "COMPANY NAME",
               date: "Feb 2011 - Jun 2014",
               place: "YOUR JOB HERE",
               text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque."},

               {title: "COMPANY NAME",
               date: "Feb 2011 - Jun 2014",
               place: "YOUR JOB HERE",
               text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque."},

               {title: "COMPANY NAME",
               date: "Feb 2011 - Jun 2014",
               place: "YOUR JOB HERE",
               text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque."}
            ])
          section.resume__section
            +software([
              {title: "photoshop", range: 90},
              {title: "dreamweawer", range: 85},
              {title: "illustrator", range: 70},
              {title: "after effects", range: 60},
              {title: "indesign", range: 50},
              {title: "html&css", range: 90}
            ])